.mc-rtwt
    display: flex
    
    background: #eee
    
    .mc-rtwt-stroke
        fill: none
        stroke: #444
        stroke-linecap: round
        stroke-linejoin: round
        stroke-width: 2
    
    .mc-rtwt__button
        margin: 0
        padding: 5px
        width: 35px
        height: 35px
        
        background: none
        border: none
        
        cursor: pointer
        
        &:hover
            background: #ccc
            
    .mc-rtwt__button--active
        background: #ddd
            
    .mc-rtwt__line
        margin: 5px 10px
        
        border: none
        border-left: 1.5px solid #555
        border-radius: 1px
