[mycelium-widget="image"]
    display: inline-block
    position: relative
    
    min-height: 50px
    min-width: 50px
    
    // remove sneaky spacing
    font-size: 0
    
    background: #444
    
    &.no-image
        width: 160px
        height: 90px
        
        > img
            display: none
        
    &.url-error > img
        display: inline-block
        
    > .edit-button
        position: absolute
        bottom: 10px
        right: 10px
        
        opacity: 0
        cursor: pointer
        
    &:hover
        > .edit-button
            opacity: 1