[mycelium-widget="text"]
    min-width: 3em

    outline: 0px solid rgba(black, 0.2)
    outline-offset: 0.2em
    
    &:focus, &:hover
        outline-width: 2px
        
    &::selection
        background: rgba(black, 0.2)
