[mycelium-plain-pad="here"]
    min-width: 3em

    outline: 0px solid rgba(black, 0.2)
    outline-offset: 0.2em
    
    // text wrapping
    white-space: pre-wrap
    display: inline-block
    
    &:focus, &:hover
        outline-width: 2px
        
    &::selection
        background: rgba(black, 0.2)
