[mycelium-text-pad="here"]

    .ql-editor
        // prevent total collapse in case of an error
        min-height: 0.8em
        min-width: 20px
        
        outline: 0px solid rgba(black, 0.2)
        outline-offset: 0.2em
        
        &:focus, &:hover
            outline-width: 2px
            
        *::selection
            background: rgba(black, 0.2)
            
        // keep beam over links
        a
            cursor: inherit !important

    .ql-clipboard
        left: -100000px
        height: 1px
        overflow-y: hidden
        position: absolute
        top: 50%

        p
            margin: 0
            padding: 0

    .mc-ql-table-blot
        border: none
        background: none
        width: 100%

////////////////////////
// Table blot content //
////////////////////////

body.mc-ql-table-blot__content
    background: none
    
    // to prevent outline from begin cropped by the iframe edge
    .mc-ql-table-blot__table // div, not table
        padding: 0.2em
        
        > table
            border-collapse: collapse
            
            td
                border: 1px solid rgba(black, 0.2)
    
    .ql-editor
        outline: 0px solid rgba(black, 0.2)
        outline-offset: 0.2em
        
        // prevent total collapse
        min-height: 0.8em
        min-width: 20px
        
        &:focus, &:hover
            outline-width: 2px
            
        *::selection
            background: rgba(black, 0.2)
    
    .ql-clipboard
        left: -100000px 
        height: 1px
        overflow-y: hidden
        position: absolute
        top: 50%

        p
            margin: 0
            padding: 0