.mc-window-manager
    display: block
    position: fixed
    top: 0
    left: 0
    height: 0
    width: 0
    
.mc-window
    position: absolute
    top: 20px
    left: 20px

    box-shadow: 0 0 5px 0 rgba(black, 0.4)

.mc-window__handle
    height: 20px
    
    background: #444

.mc-window__content    
    position: relative
    
    background: white